/* IMPORTED FONTS */
@font-face {
  font-family: "Merriweather-Regular.ttf";
  src: url(./assets/Fonts/Merriweather-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HomemadeApple-Regular.ttf";
  src: url(./assets/Fonts/HomemadeApple-Regular.ttf);

  font-weight: 100;
  font-display: swap;
}

/* SASS GLOBAL VARIABLES */

@mixin flexInFlex {
  position: relative;
  display: flex;
}

/*###############################################*/

.popUp {
  display: none;
}

/* LAYOUT GENERAL */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1d6185;
  background-image: url(assets/scribble-light.png);
}

header {
  @include flexInFlex;

  align-self: flex-start;
  width: 100vw;
  min-height: 120px;
  z-index: 1;
}

h1 {
  position: absolute;
  margin-left: 55%;
  top: 5px;
  font-family: "HomemadeApple-Regular.ttf", serif;
  font-size: 5rem;
  line-height: 6rem;
  color: rgb(86, 192, 234);
  text-shadow: 3px 4px 5px #000;
}

main {
  @include flexInFlex;
  margin: 0 auto;
  height: 90vh;
  width: 100vw;
}

/* COOKIE */

#zoneCookie {
  @include flexInFlex;
  justify-items: start;
  width: 50vw;
  height: 75vh;
}

.cookiePose {
  @include flexInFlex();
  position: absolute;
  z-index: 0;
  opacity: 0.6;
  left: 4rem;
}

.cookieBtn {
  padding: 0;
  max-height: 302px;
  max-width: 310px;
  position: relative;
  margin: 15rem 8rem;
  background: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#zoneCookie img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  opacity: 1;
}

#bonusBtn {
  position: absolute;
  background: none;
  border: none;
  z-index: 1;
  left: 85%;
  img {
    width: 150px;
  }
  cursor: grab;
}

/* ZONE DROITE */

#zoneInfos {
  @include flexInFlex;
  flex-direction: column;
  width: 50vw;
  height: 75vh;
}

/* MULTIPLIER SHOP SASS */

@mixin multiplierBtns {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-style: inset;
  background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");
}

@mixin costMultiplierDesign {
  position: relative;
  font-family: "Merriweather-Regular.ttf", serif;
  font-weight: 900;
  color: white;
  width: 100%;
  margin: 0;
  text-align: end;
}

@mixin imageMultiplierDesign {
  position: relative;
  margin: auto;
  max-height: 70px;
  object-fit: cover;
  justify-self: start;
}

@mixin countMultiplierDesign {
  position: absolute;
  font-family: "Merriweather-Regular.ttf", serif;
  font-weight: 900;
  font-size: 2rem;
  bottom: 0;
  color: yellow;
  width: 90%;
  margin: 0;
  text-align: end;
}

@mixin tooltipMultiplierDesign {
  position: absolute;
  visibility: hidden;
  border: 6px ridge rgb(10, 157, 210);
  border-radius: 15px;
  width: auto;
  background-color: #174883;
  background-image: url(assets/lined-paper-2.png);
  color: yellow;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  top: 8rem;
}

/* MULTIPLIER SHOP */

.multiplierShop {
  @include flexInFlex;
  margin-left: 10%;
  margin-top: 15%;
  background-color: #174883;
  padding: 20px 40px;
  border-radius: 18px;
  border: 6px rgb(10, 157, 210);
  border-style: ridge;
  max-height: 100px;
  max-width: 650px;
  white-space: nowrap;
  background-image: url(assets/lined-paper-2.png);

  button {
    @include multiplierBtns();
    img {
      position: relative;
      margin: auto;
      max-height: 70px;
      object-fit: cover;
      justify-self: start;
    }
  }

  /* BUTTONS ACTIVE PROPERTIES */

  #clickMultiplier {
    background-color: rgb(0, 155, 176);
    border-color: rgb(1, 85, 96);
  }
  #elmoMultiplier {
    background-color: rgb(187, 29, 29);
    border-color: rgb(102, 16, 16);
    .tooltip .tooltiptext {
      margin-left: -2rem;
    }
  }
  #birdMultiplier {
    background-color: rgb(200, 190, 15);
    border-color: yellow;
    .tooltip .tooltiptext {
      margin-left: -10rem;
    }
  }
  #oscarMultiplier {
    background-color: rgb(40, 127, 40);
    border-color: rgb(0, 80, 17);
    .tooltip .tooltiptext {
      margin-left: -18rem;
    }
  }
  #groverMultiplier {
    background-color: rgb(0, 0, 197);
    border-color: rgb(0, 0, 107);
    .tooltip .tooltiptext {
      margin-left: -21rem;
    }
  }
  #ernieMultiplier {
    background-color: rgb(230, 136, 21);
    border-color: rgb(134, 78, 10);
    .tooltip .tooltiptext {
      margin-left: -27rem;
    }
  }
  /* */

  img {
    @include imageMultiplierDesign();
  }

  #costMultiplierDisplay {
    @include costMultiplierDesign();
  }

  #countMultiplierDisplay {
    @include countMultiplierDesign();
  }

  button:disabled {
    background-color: rgb(1, 48, 48);
  }
}

.tooltip .tooltiptext {
  @include tooltipMultiplierDesign();
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* SCORE DISPLAY */

.scoreDisplay {
  position: relative;
  font-family: "Merriweather-Regular.ttf", serif;
  font-size: 4rem;
  margin-left: 27%;
  margin-top: 18%;
  white-space: nowrap;
}

.clickPerSecondDisplay {
  position: relative;
  font-family: "Merriweather-Regular.ttf", serif;
  font-size: 1.5rem;
  margin-left: 27%;
  margin-top: 0;
  white-space: nowrap;
}

/* AUTO CLICK SHOP SASS DESIGN */

@mixin autoclickerBtns {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 130px;
  margin: auto 15px;
  background-color: rgb(1, 23, 48);
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}

@mixin costAutoclickerDesign {
  position: relative;
  font-family: "Merriweather-Regular.ttf", serif;
  font-weight: 900;
  color: white;
  width: 100%;
  margin: 0;
  text-align: end;
}

@mixin imageAutoclickerDesign {
  position: relative;
  margin: auto;
  max-height: 70px;
  object-fit: cover;
  justify-self: start;
  object-fit: cover;
}

@mixin countAutoclickerDesign {
  position: absolute;
  font-family: "Merriweather-Regular.ttf", serif;
  font-weight: 900;
  font-size: 2rem;
  bottom: 0;
  color: yellow;
  width: 90%;
  margin: 0;
  text-align: end;
}

/* AUTO CLICK SHOP SASS DISPLAY */

.autoclickShop {
  border-top: 5px ridge;
  border-top-color: rgb(10, 157, 210);
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 18vh;
  bottom: 25px;
  background-color: #174883;
  background-image: url(assets/lined-paper-2.png);

  button {
    @include autoclickerBtns();
    .tooltip .tooltiptext {
      margin-top: -50rem;
    }
    img {
      position: relative;
      margin: auto;
      max-height: 110px;
      object-fit: cover;
      justify-self: start;
    }
  }

  #costAutoclickerDisplay {
    @include costAutoclickerDesign();
  }

  image {
    @include imageAutoclickerDesign();
  }

  #countAutoclickerDisplay {
    @include countAutoclickerDesign();
  }
}

/* FOOTER */

footer {
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  bottom: 0px;
  background-color: #143f73;
  align-content: center;
}
legend {
  color: white;
  text-align: center;
}

legend a {
  color: yellow;
}
